<h2>Listing Bookings </h2>


<li><% @bookings.each do |booking| %></li>
    <%= booking.start_date %><br>
    <%= booking.end_date %><br>
    <%= booking.user.username %><br>
    <%= booking.room.name %><br>
    <%= booking.is_confirmed %></br>
    <% end %>

<%#= link_to 'show', rooms_path %>
