<h2>Listing Bookings </h2>


<% @bookings.each do |booking| %>
    <%= booking.start_date %><br>
    <%= booking.end_date %><br>
    <%= booking.user.username %><br>
    <%= booking.room.name %><br>
    <%= booking.is_confirmed %></br>
    <%= link_to 'show', booking %>
    <% end %>


