<div class="row" >
   <div class="col-md-8">
        <div class="page-header">
          <h2>Listing  Rooms</h2>
        </div>
            <%= form_for @room do |f| %>
                <div class="form-group">
			    <label>Name: </label></br>
				<%= f.text_field :name,class: "form-control" %> </br>
                </div>

                <div class="form-group"> 
			    <label>Description: </label></br>
				<%= f.text_area :description,class: "form-control" %> </br>
                </div>
                <div class="form-group"> 
			    <label>Price: </label></br>
				<%= f.text_field :price,class: "form-control" %> </br>
                </div>
                <div class="form-group"> 
			    <label>Rules: </label></br>
				<%= f.text_field :rules,class: "form-control" %> </br>
				</div>
                <div class="form-group"> 
			    <label>Images: </label></br>
				<%= f.file_field :images,class: "form-control" %> </br>
                </div>
                <div class="form-group"> 
                <label>Address: </label></br>
				<%= f.text_area :address,class: "form-control" %> </br>
                </div>
                <div class="form-group"> 
			    <label>City: </label></br>
				<%= f.collection_select :city_id, City.all, :id, :name, prompt: "select city",class: "form-control" %> </br>
			    </div>
			    <div class="form-group"> 
			    <label>Amenity: </label></br>
		        <%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :name,class: "form-control" %></br>
		        </div>

			    <%= f.submit "Add Room",class: "btn btn-primary" %>
		    <% end %>


    </div>
    

    <div class = "col-md-4">
    

    </div>


   



</div>


