<div class="row" >
  <div class="col-md-8">
    <div class="page-header">
    <h3>Room - <%= @room.name %> 
    
    <% if can? :update, @room %>
    <%= link_to "Edit", edit_room_path(@room.id),class: "btn btn-info pull-right"  %>
    <%end%>
    <% if can? :destroy, @room %>
    <%= link_to "Destroy", room_path(@room.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger pull-right" %>
    <% end%></h3>
    </div>
    <%= image_tag(@room.images) %>
    <%if @room.user_id == current_user.id %>
     <h2>Specialprice: <%= link_to "ADD Specialprice", new_room_special_price_path(@room.id) %><br></h2>
    <% end %>

  

    <h2>Add Bookings</h2>
     <%= render "./bookings/form" %>

  Description -<%= @room.description %><br>
  Price -<%= @room.price%><br>
  Rules -<%= @room.rules %><br>
  Address -<%= @room.address %><br>
  City -<%= @room.city.name %></br>
  Username -<%= @room.user.username %></br>
    

    <table class="table table-bordered">
    <thead>
    <tr>
      <th>Review </th>
      <th>FoodRating </th>
      <th>CleanlinessRating</th>

      <th>SafetyRating </th>
      <th>FacilityRating</th>
      <th>LocalityRating</th>
      <th>Action Edit </th>
      <th>Action Remove
      
    </tr>
    </thead>
    <body>
     <h3>Listing Reviews</h3>
		<% @room.reviews.each do |view| %>
		<tr>

		<td> <%= view.review %></td></br>
		<td><%= view.food_rating%></td>
		<td><%= view.cleanliness_rating %></td>
		<td> <%= view.safety_rating %></td>
		<td> <%= view.facility_rating %></td>
		<td><%= view.locality_rating %></td>
		<% if user_id = current_user.id %>
		<td><%= link_to "edit", edit_review_path(view) %></td>
		<td><%= link_to "Remove", view, method: :delete, data: {confirm: "Are you sure?"} %></td>
		<% end %>
		<%end%>

    </body>
    </table>
			    <%= form_for @review do |f| %>
			<h5> 5 – Excellent, 4 – Good, 3 – Average, 2 – Fair, 1- Poor</h5>

			<%= f.label :Review %><br>
			<%= f.text_area :review , placeholder: "min 150 characters long"%><br>
			<%= f.label :FoodRating%><br>
			<%= f.radio_button :food_rating, 5 %> 5  
			<%= f.radio_button :food_rating, 4 %> 4  
			<%= f.radio_button :food_rating, 3 %> 3  
			<%= f.radio_button :food_rating, 2 %> 2  
			<%= f.radio_button :food_rating, 1 %> 1 <br> 
			<%= f.label :CleanlinessRating %><br>
			<%= f.radio_button :cleanliness_rating, 5 %> 5
			<%= f.radio_button :cleanliness_rating, 4 %> 4
			<%= f.radio_button :cleanliness_rating, 3 %> 3
			<%= f.radio_button :cleanliness_rating, 2 %> 2
			<%= f.radio_button :cleanliness_rating, 1 %> 1 <br>
			<%= f.label :SafetyRating %><br>
			<%= f.radio_button :safety_rating, 5 %> 5
			<%= f.radio_button :safety_rating, 4 %> 4
			<%= f.radio_button :safety_rating, 3 %> 3
			<%= f.radio_button :safety_rating, 2 %> 2
			<%= f.radio_button :safety_rating, 1 %> 1 <br>
			<%= f.label :FacilityRating %><br>
			<%= f.radio_button :facility_rating, 5%> 5 
			<%= f.radio_button :facility_rating, 4%> 4 
			<%= f.radio_button :facility_rating, 3%> 3
			<%= f.radio_button :facility_rating, 2%> 2
			<%= f.radio_button :facility_rating, 1%> 1<br>
			<%= f.label :LocalityRating %><br>
			<%= f.radio_button :locality_rating, 5 %> 5
			<%= f.radio_button :locality_rating, 4 %> 4
			<%= f.radio_button :locality_rating, 3 %> 3
			<%= f.radio_button :locality_rating, 2 %> 2
			<%= f.radio_button :locality_rating, 1 %> 1<br>
			<%#= f.label :Room %>
			<%#= f.hidden_field :room_id, value: @room.id %>
			<%= f.submit "Add reviews" %></br>
			<% end %></br>
			<%= link_to "Lisiting Rooms", rooms_path,class: "btn btn-primary" %>

    </div>

    <div class="col-md-4">
    <div class="page-header">
      <h2>Locations</h2>
    </div>
     <iframe
	  width="600"
	  height="450"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA9FDu8x55LoV8BowfhfAnxUu7wqjt6wvE&zoom=16
	    &q=<%=@room.latitude %>,<%= @room.longitude %>" allowfullscreen>
	</iframe>

	
  </div>
</div>




