<h2> Add Cities </h2>
<lab><%= form_for @city do |f| %></lab>
<% if @city.errors.any? %>
	<h3> these are  the errors prohibitted from the begin saved : </h3>
    <ul>
    <% @city.errors.full_messages.each do  |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

   <label>Name: </label>
	<%= f.text_field :name %> </br>
	<%= f.submit %> or <%= link_to "back", cities_path %>
	<% end %>

